.header {
  display: flex;
  align-content: center;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(3, 177, 168);
    margin-right: 5px;
    object-fit: cover;
    object-position: center;
  }

  span {
    font-size: 22px;
    font-weight: 600;
    color: rgb(46, 44, 44);
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(3, 114, 108);
  }
}
